
<template name="formLogin">
    <form id="formLogin" style="max-width: 200px;">
        <input type="username" name="username" class="inputUsername form-control" placeholder="Brugernavn">
        <input type="password" name="password" class="inputPassword form-control" placeholder="Kodeord">
        <span class="modeCreateOnly">
            <input type="password" name="passwordConfirm" class="inputPasswordConfirm form-control" placeholder="Kodeord igen">
        </span>
        <button class="buttonLogin modeLoginOnly btn btn-success">Log ind</button>
        <button class="buttonCreateMode modeLoginOnly btn btn-success">Opret bruger</button>
        <button class="buttonCreate modeCreateOnly btn btn-success">Opret</button>
        <button class="buttonCancel modeCreateOnly btn btn-default">Anuller</button>
        <input type="hidden" name="mode" value="login">
    </form>
</template>

<template name="formLogout">
    <button class="buttonLogout btn btn-default">Log ud</button>
</template>

<template name="formCreateList">
    <form id="formNewList">
        <div class="input-group">
            <input type="text" class="form-control" name="name" placeholder="Giv din nye liste et navn...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Opret</button>
            </span>
        </div>
    </form>
</template>
