
<template name="home">
    <h3>Dine lister:</h3>

    <div style="max-width: 300px">
        {{> listsList}}
    </div>

    <h3>Ny liste:</h3>
    <div style="max-width: 300px;">
        {{> formCreateList}}
    </div>
    <br>
    {{> formLogout}}
</template>

<template name="listsList">
    <div class="list-group">
    {{#each lists}}
        <a href="/list/{{_id}}" class="list-group-item">
            {{name}}
            <span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
        </a>
    {{/each}}
</div>
</template>
