
<template name="home">
    {{> panelOverviewLink}}
    {{> panelListsList}}
</template>

<template name="panelListsList">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title"> Dine Lister </h4>
        </div>
        <div class="panel-body list-panel-body">
            {{#if Template.subscriptionsReady}}
                {{> panelListsListBody}}
            {{else}}
                <div class="spinner-wrapper">
                    {{> spinner}}
                </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="panelListsListBody">
    <div class="list-group panel-list wrapper">
        {{#each lists}}
            <a href="/list/{{_id}}" class="list-group-item list-item {{classCurrentList}} animate">
                <span class="itemText">
                    {{name}}
                </span>
                <span class="badge">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </span>
            </a>
        {{/each}}
    </div>
</template>

<template name="overview">
    {{> panelItemCollection}}
</template>

<template name="panelItemCollection">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title"> Samlet liste</h4>
        </div>
        <div class="panel-body list-panel-body">
            <div class="list-group panel-list wrapper">
                {{#each items}}
                    <a href="/list/{{listId}}" class="list-group-item list-item animate">
                        <span class="itemText">{{text}}</span>
                        <span class="badge">{{priority}}</span>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="panelOverviewLink">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title"> Info </h4>
        </div>
        <div class="panel-body"><center>
            Velkommen {{currentUser.username}} til ToDo Together <br>
            <a href='/profile' class="btn btn-success disabled" style="margin-right: 16px;">
                Profil
            </a>
            {{> formLogout}}
            <hr>
            Opret en ny liste
            {{> formCreateList}} <br>
            <hr>
            Få et overblik over dine nuværende opgaver <br>
            <a href='/home' class="btn btn-success"> Overblik </a>
            <br>
            <hr>
            Se kildekoden på <br>
            <a href='https://github.com/MarkusKL/todotogether' class="btn btn-success">GitHub</a>
        </center></div>
    </div>
</template>
