<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ToDo Together</title>
</head>

<template name="layout">
    {{#if currentUser}}
        {{> userLayout}}
    {{else}}
        <div class="container">
            {{> yield}}
        </div>
    {{/if}}
</template>

<template name="userLayout">
    {{> navbar}}
    <div class="container">
        <div class="col-sm-6">
            {{> home}}
        </div>
        <div class="col-sm-6" id="main">
            {{> yield}}
        </div>
    </div>
</template>

<template name="loading">
    {{> spinner}}
</template>

<template name="notFound">
    Page not found...
</template>

<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    {{> ToDoTogether}}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-hover {{isRoute 'home'}}">
                    <a href="/home">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-hover">
                    <a href='#'>
                        {{currentUser.username}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<template name="ToDoTogether">
    <span style="color: #3a3">To</span><span style="color: #a33;">Do</span> <span style="color: #3a3;">Together</span>
</template>
