<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ToDo Together</title>
</head>

<template name="layout">
    {{#if currentUser}}
        {{> userLayout}}
    {{else}}
        <div class="container">
            {{> yield}}
        </div>
    {{/if}}
    <div id="errors" style="position: absolute;">
    </div>
</template>

<template name="error">
    <div class="error-msg">
        <span class="label label-danger">
            {{text}}
        </span>
    </div>
</template>

<template name="userLayout">
    {{> navbar}}
    <div class="container">
        <div class="col-sm-6">
            {{> home}}
        </div>
        <div class="col-sm-6">
            <div id="main">
                {{> yield}}
            </div>
        </div>
    </div>
</template>

<template name="loading">
    {{> spinner}}
</template>

<template name="notFound">
    Page not found...
</template>

<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    {{> ToDoTogether}}
                </a>
            </div>
        </div>
    </nav>
</template>

<template name="ToDoTogether">
    <span style="color: #3a3">ToDo Together</span>
</template>
