<template name="panelList">
    {{#if listRerender}}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{list.name}}
                <a href="{{pathFor route='settings' data=list}}">
                    <span class="glyphicon glyphicon-cog option-cog"></span>
                </a>
            </h4>
        </div>
        <div class="panel-body list-panel-body">
            {{> itemsList}}
        </div>
    </div>
    {{/if}}
</template>

<template name="itemsList">
    <div class="wrapper list-group panel-list">
        {{#each items}}
            {{> item}}
        {{/each}}
        <li class="list-group-item list-item">
            <form id="formAdd">
                <div class="input-group">
                    <input class="form-control" type="text" name="text" placeholder="...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </form>
        </li>
    </div>
</template>

<template name="item">
    <li class="list-group-item list-item animate">
        <input class="checkInput" type="checkbox" {{checkedState}}>
        <input class="priorityInput" value="{{priority}}">
        :
        <input class="itemText" value="{{text}}">
        <span class="removeItem badge" style="cursor: pointer;">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
    </li>
</template>
