<template name="list">
    <h2> Listen {{list.name}} </h2>
    <a href="/"> Tilbage </a><br/>
    {{> itemList}}
</template>

<template name="itemList">
    <ul style="width: 300px;">
    {{#each items}}
        {{> item}}
    {{/each}}
    </ul>
    <form id="formAdd">
        <input type="text" name="text">
        <button type="submit">+</button>
    </form>
</template>

<template name="item">
    <li class="list-item">
        <input type="checkbox" {{checkedState}}>
        {{creatorUsername}}: {{text}}
        <span class="removeItem" style="float: right;cursor: pointer;">
            x
        </span>
    </li>
</template>
