<template name="list">
    <h2> Listen {{list.name}} </h2>
    <a href="/"> Tilbage </a><br/>
    {{> itemsList}}
    <h3> Giv andre adgang </h3>
    Andre med adgang:
    <ul>
        {{#each users}}
            <li>{{username}}</li>
        {{/each}}
    </ul>
    {{#if isCreator}}
        <form id="formGiveAccess">
            <input type="text" name="username" placeholder="Brugernavn">
            <button type="submit">Giv adgang</button>
        </form>
    {{/if}}
</template>

<template name="itemsList">
    <ul style="width: 300px;" class="wrapper">
    {{#each items}}
        {{> item}}
    {{/each}}
    </ul>
    <form id="formAdd">
        <input type="text" name="text">
        <button type="submit">+</button>
    </form>
</template>

<template name="item">
    <li class="list-item">
        <input type="checkbox" {{checkedState}}>
        <span class="itemText">{{text}}</span>
        <input style="display: none;" class="itemText" value="{{text}}">
        <span class="removeItem" style="float: right;cursor: pointer;">
            x
        </span>
    </li>
</template>
