
<template name="main">
    <h2>Main page</h2>
    {{> content}}
</template>

<template name="content">
    <ul style="width: 300px;">
    {{#each items}}
        {{> item}}
    {{/each}}
    </ul>
    <form id="formAdd">
        <input type="text" class="textInput">
        <button class="buttonAdd">+</button>
    </form>
    <button class="buttonRemoveAll">Fjern alle</button>
</template>

<template name="item">
    <li class="list-item">
        <input type="checkbox" {{checkedState}}>
        {{creatorUsername}}: {{text}}
        <span class="removeItem" style="float: right;cursor: pointer;" data-id="{{_id}}">
            x
        </span>
    </li>
</template>
