
<template name="main">
    <h2>Main page</h2>
    {{> content}}
</template>

<template name="content">

    <button class="buttonRemoveAll">Fjern alle</button>

    <h3>Dine lister:</h3>

    <ul>
    {{#each lists}}
        <a href="/list/{{_id}}"><li>{{name}}</li></a>
    {{/each}}
    </ul>

    <h3>Ny liste:</h3>
    <form id="formNewList">
        <input type="text" name="name" placeholder="Giv din nye liste et navn...">
        <button type="submit">Opret</button>
    </form>
</template>
