
<template name="main">
    <h2>Main page</h2>
    {{> content}}
</template>

<template name="content">
    <ul style="width: 300px;">
    {{#each items}}
        {{> item}}
    {{/each}}
    </ul>
    <form id="formAdd">
        <input type="text" class="textInput">
        <button class="buttonAdd">+</button>
    </form>
    <button class="buttonRemoveAll">Fjern alle</button>

    <h3>Dine lister:</h3>

    <ul>
    {{#each lists}}
        <a href="/list/{{_id}}"><li>{{name}}</li></a>
    {{/each}}
    </ul>

    <h3>Ny liste:</h3>
    <form id="formNewList">
        <input type="text" name="name" placeholder="Giv din nye liste et navn...">
        <button type="submit">Opret</button>
    </form>
</template>

<template name="item">
    <li class="list-item">
        <input type="checkbox" {{checkedState}}>
        {{creatorUsername}}: {{text}}
        <span class="removeItem" style="float: right;cursor: pointer;" data-id="{{_id}}">
            x
        </span>
    </li>
</template>
