body {
    min-height: 100%;
    background-color: #e7e7e7;
    overflow-y: scroll;
}

.modeCreateOnly {
    display: none;
}

.list-item {
    padding: 3px;
    position: relative;
    display: flex;
}
.list-item.animate {
    transition:all 300ms 0ms ease-in-out;
}

.priorityInput {
    border: 0;
    width: 32px;
}

.itemText {
    border: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-hover:hover {
    background-color: #DDD;
}

.principle {
    margin-top: 16px;
    min-height: 40px;
}

.bullet {
    float: left;
    font-size: 24px;
    padding: 8px;
    color: #383;
}

.spinner-wrapper {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px
}

#main {
    position: relative;
}

#main>div {
    position: absolute;
    top: 0;
    width: 100%
}

.panel-list {
    margin-bottom: 0;
}

.list-panel-body {
    padding: 0;
}

.panel-list>*:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.option-cog {
    float: right;
    cursor: pointer;
}

.revoke-hidden {
    display: none;
}

.revoke {
    float: right;
    cursor: pointer;
    color: #D9534F;
}
